<header>
  <h2>Sign up</h2>
</header>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true, placeholder: "Enter your first name" %>
        <%= f.input :last_name, required: true, placeholder: "Enter your last name" %>
        <%= f.input :username, required: true, placeholder: "Enter your username" %>
        <%= f.input :organization_name, placeholder: "Enter the name of your organization" %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
