<!-- Nav tabs -->
<p>
<ul class="nav nav-tabs" id="listingTab" role="tablist">
  <li class="nav-item" role="presentation"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#tabpane1">Listing Information</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="info-tab" data-toggle="tab" href="#tabpane2">Property Information</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="rooms-tab" data-toggle="tab" href="#tabpane3">Rooms</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="lease-tab" data-toggle="tab" href="#tabpane4">Lease Information</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="showing-tab" data-toggle="tab" href="#tabpane5">Showing Information</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="remarks-tab" data-toggle="tab" href="#tabpane6">Remarks/Tour Links</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="remarks-tab" data-toggle="tab" href="#tabpane7">Photos/Video</a></li>
</ul>

<!-- Tab panes -->
<%= simple_form_for(listing) do |p| %>

<div class="tab-content" id="listingTabContent">
  <div class="tab-pane fade show active" id="tabpane1" role="tabpanel">
    <%= render "tabpane1", p: p %>
  </div>
  <div class="tab-pane fade" id="tabpane2" role="tabpanel">
    <%= render "tabpane2", p: p %>
  </div>
  <div class="tab-pane fade" id="tabpane3" role="tabpanel">
    <%= render "tabpane3", p: p %>
  </div>
  <div class="tab-pane fade" id="tabpane4" role="tabpanel">
    <%= render "tabpane4", p: p %>
  </div>
  <div class="tab-pane fade" id="tabpane5" role="tabpanel">
    <%= render "tabpane5", p: p %>
  </div>
  <div class="tab-pane fade" id="tabpane6" role="tabpanel">
    <%= render "tabpane6", p: p %>
  </div>
  <div class="tab-pane fade" id="tabpane7" role="tabpanel">
    <%= render "tabpane7", p: p %>
  </div>
</div>

<%= p.button :submit, class: "btn btn-primary"%> <%= link_to "Cancel", listings_path, class: "btn btn-secondary" %>
<% end %>
