<%# Rooms %>
  <%= p.input :bedroom, input_html: { min: 0, max: 10 } %>
  <%= p.input :full_bath, input_html: { min: 0, max: 10 } %>
  <%= p.input :half_bath, input_html: { min: 0, max: 10, value: 0 } %>
  <%= p.input :bedroom_description %>
  <%= p.input :room_description %>
  <%= p.input :bathroom_description %>
  <%= p.input :kitchen_description %>
