<%# Property Information %>
  <%= p.input :available_area, input_html: { min: 0 } %>
  <%= p.input :complex_access %>
  <%= p.input :style %>
  <%= p.input :parking %>
  <%= p.input :lot_description %>
  <%= p.input :furnished %>
  <%= p.input :microwave %>
  <%= p.input :dishwasher %>
  <%= p.input :fireplace, input_html: { min: 0, max: 5, value: 0 } %>
  <%= p.input :fireplace_description %>
  <%= p.input :oven_type %>
  <%= p.input :stove_type %>
  <%= p.input :washer_dryer %>
  <%= p.input :appliances %>
  <%= p.input :swimming_pool, input_html: { min: 0, max: 5, value: 0 } %>
  <%= p.input :pool_description %>
  <%= p.input :flooring_description %>
  <%= p.input :exterior_description %>
  <%= p.input :heating_description %>
  <%= p.input :cooling_description %>
  <%= p.input :water_description %>
  <%= p.input :energy_features %>
  <%= p.input :other_amenities %>
