<%# Lease Information %>
  <div class="form-inline">
    <%= p.input :rent_amount, input_html: { min: 0, step: 0.01 } %>
    <%= p.input :security_deposit_amount, input_html: { min: 0 } %>
    <%= p.input :other_amount, input_html: { min: 0, value: 0 } %>
  </div>
  <div class="form-inline">
    <%= p.input :pets_allowed %>
    <%= p.input :pet_deposit_amount, input_html: { min: 0, value: 0 } %>
  </div>
  <%= p.input :pet_deposit_description %>

  <%= p.input :rental_terms %>
  <%= p.input :utilities_paid %>

  <%= p.input :smoking_allowed %>
  <%= p.input :approval_required %>
  <%= p.input :approval_requirements %>

  <%= p.input :credit_check_required %>
  <%= p.input :criminal_background_check_required %>
  <%= p.input :credit_check_required %>
  <%= p.input :sexual_offender_check_required %>
  <%= p.input :eviction_check_required %>
