<%# Listing Information %>

  <%= p.association :for_property, collection: User.find(current_user.id).managed_properties.order(:title), label: "Select Property", prompt: true %>
  <%# p.input :property_id, collection: User.find(current_user.id).managed_properties, label: "Select Property", prompt: true %>
  <%= p.input :title %>
  <%= p.input :description %>
  <div class="form-inline">
    <%= p.input :contact_phone %>
    <%= p.input :contact_email %>
  </div>
  <%= p.input :status %>
  <%= p.input :start_date, as: :date, order: [:day, :month, :year] %>
  <%= p.input :end_date, as: :date, order: [:day, :month, :year] %>
  <%= p.input :available_date, as: :date, order: [:day, :month, :year] %>
