<%# Photos/Video %>

<%# if p.images.attached? %>
  <%# p.images.each do |image| %>
    <%# image_tag image, style: "width: 200px; display: block" %>
  <%# end %>
<%# end %>

<div class="field">
  <%= p.label :images %>
  <%= p.file_field :images, multiple: true %>
</div>
<%# p.input :image, as: :file, label: "Upload Image", input_html: { multiple: true }  %>
