<header>
  <h1>My Listings</h1>
  <ul class="actions">
    <%= link_to "New listing", new_listing_path, class: "new" if policy(Listing).new? %>
  </ul>
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Title</th>
      <th>Status</th>
      <th>Rent Amt</th>
      <th>Available Date</th>
      <th>Bedrooms/Bathrooms</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to listing.for_property.title, property_path(listing.for_property) %></td>
      <td><%= link_to listing.title, listing_path(listing) %></td>
      <td><%= listing.status  %></td>
      <td><%= listing.rent_amount %></td>
      <td><%= listing.available_date %></td>
      <td><%= listing.bedroom %></td>
      <td><%= link_to "Delete", listing_path(listing), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(listing).destroy? %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing), class: "edit" if policy(listing).edit? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
