<% provide(:title, @listing.title) %>

<header>
  <h1><%= @listing.for_property.title %> <%= @listing.title %></h1>

  <ul class="actions">
    <%= link_to "Edit", edit_listing_path(@listing), class: "edit" if policy(@listing).edit? %>
    <%= link_to "Delete", listing_path(@listing), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(@listing).destroy? %>
    <% if @listing.for_property.landlord != current_user %>
      <%= link_to "Apply to rent", new_app_path, class: "apply" %>
    <% end %>
  </ul>
</header>

<div class="row">
    <div class="col-12">
      <h4>Address</h4>
      <p><%= @listing.for_property.address1 %> <%= listing_status(@listing) %></p>

        <p><%= @listing.rent_amount %></p>
        <p><%= @listing.security_deposit_amount %></p>
        <p><%= @listing.available_date %></p>
      <h4>Interior Features</h4>
    </div>

      <div class="">
        <div class="col-6">
          something
        </div>
          another thing
        <div class="col-6">

        </div>
      </div>

      <div class="col-12">


    <p><%= @listing.description %></p>
    <p><%= @listing.contact_phone %></p>
    <p><%= @listing.contact_email %></p>

    <p><%= @listing.other_amount %></p>
    <p><%= @listing.start_date %></p>
    <p><%= @listing.end_date %></p>

    <p><%= @listing.rental_terms %></p>
    <p><%= @listing.utilities_paid %></p>
    <p><%= @listing.smoking_allowed %></p>
    <p><%= @listing.approval_required %></p>
    <p><%= @listing.approval_requirements %></p>
    <p><%= @listing.pets_allowed %></p>
    <p><%= @listing.pet_deposit_amount %></p>
    <p><%= @listing.pet_deposit_description %></p>
    <p><%= @listing.bedroom %></p>
    <p><%= @listing.full_bath %></p>
    <p><%= @listing.half_bath %></p>
    <p><%= @listing.available_area %></p>
    <p><%= @listing.bedroom_description %></p>
    <p><%= @listing.room_description %></p>
    <p><%= @listing.bathroom_description %></p>
    <p><%= @listing.kitchen_description %></p>
    <p><%= @listing.complex_access %></p>
    <p><%= @listing.style %></p>
    <p><%= @listing.parking %></p>
    <p><%= @listing.lot_description %></p>
    <p><%= @listing.furnished %></p>
    <p><%= @listing.microwave %></p>
    <p><%= @listing.dishwasher %></p>
    <p><%= @listing.fireplace %></p>
    <p><%= @listing.fireplace_description %></p>
    <p><%= @listing.oven_type %></p>
    <p><%= @listing.stove_type %></p>
    <p><%= @listing.washer_dryer %></p>
    <p><%= @listing.appliances %></p>
    <p><%= @listing.swimming_pool %></p>
    <p><%= @listing.pool_description %></p>
    <p><%= @listing.flooring_description %></p>
    <p><%= @listing.exterior_description %></p>
    <p><%= @listing.heating_description %></p>
    <p><%= @listing.cooling_description %></p>
    <p><%= @listing.water_description %></p>
    <p><%= @listing.energy_features %></p>
    <p><%= @listing.other_amenities %></p>
    <p><%= @listing.credit_check_required %></p>
    <p><%= @listing.criminal_background_check_required %></p>
    <p><%= @listing.credit_check_required %></p>
    <p><%= @listing.sexual_offender_check_required %></p>
    <p><%= @listing.eviction_check_required %></p>
    <p><%= @listing.virtual_tour_link1 %></p>
    <p><%= @listing.virtual_tour_link2 %></p>
      </div>

      <p>
        <strong>Images:</strong> <br/>
        <% if @listing.images.attached? %>
          <% @listing.images.each do |image| %>
            <%= image_tag image, style: "width: 200px; display: block" %>
            <%= link_to image.filename, image, target: '_blank' %> <br/>
          <% end %>
        <% else %>
          <p>no images</p>
        <% end %>
      </p>
</div>
