<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Hello <%= @lease.tenant_name %> </h1>
    <p>The lease document for property <%= @lease.for_property.title %> is ready for your review.</p>
    <p>Please review and make payment from <%= @url %></p>
    <p>We wish you pleasant stay at your new place. Have a great day!!</p>
  </body>
</html>
