Hello <%= @lease.for_property.landlord.full_name %>
==================================
The lease document for property <%= @lease.for_property.title %> has been accepted by tenant and first payment made.
Please review.

Have a great day!!
