Hello <%= @lease.tenant_name %>
==================================
The lease document for property <%= @lease.for_property.title %> is ready for your review.
Please review and make payment from <%= @url %>

We wish you pleasant stay at your new place. Have a great day!!
