<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Hello <%= @lease.for_property.landlord.full_name %></h1>
    <p>The lease document for property <%= @lease.for_property.title %> has been accepted by tenant and first payment made.</p>
    <p>Please review.</p>
    <p>Have a great day!!</p>
  </body>
</html>
