Hello <%= @user.full_name %>
==================================
You have successfully paid your rent to <%= @landlord %>.
You can see all your receipts by accessing your profile. Please sign in from <%= @url %>

Thanks for your payment. Have a great day!!
