<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Hello <%= @user.full_name %> </h1>
    <p>You have successfully paid your rent to <%= @landlord %>.</p>
    <p>You can see all your receipts by accessing your profile. Please sign in from <%= @url %> </p>
    <p>Thanks for your payment. Have a great day!!</p>
  </body>
</html>
