<blockquote>
  <%= simple_format(comment.body) %>

  <footer class="blockquote-footer">
    By <cite><%= comment.author.full_name if comment.author %></cite>
    <%= time_ago_in_words(comment.created_at) %>
  </footer>
</blockquote>
