//console.log('Wow. I am here.');
//console.log('<%= @lease.for_property.title + ' ' + @lease.landlord_name %>')

// Create an instance of the Stripe object with your publishable API key

const stripe = Stripe("<%= Rails.application.credentials.dig(:rentstudio_stripe_account, :publishable_key) %>");

stripe.redirectToCheckout({
  sessionId: '<%= @session.id %>'
}).then(function (result) {
      // If redirectToCheckout fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using error.message.
      console.log(result.error.message);
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });

// var checkoutButton = document.getElementById("checkout-button");
//
// checkoutButton.addEventListener("click", function () {
//   fetch("/create-session", {
//     method: "POST",
//   })
//     .then(function (response) {
//       return response.json();
//     })
//     .then(function (session) {
//       return stripe.redirectToCheckout({ sessionId: session.id });
//     })
//     .then(function (result) {
//       // If redirectToCheckout fails due to a browser or network
//       // error, you should display the localized error message to your
//       // customer using error.message.
//       if (result.error) {
//         alert(result.error.message);
//       }
//     })
//     .catch(function (error) {
//       console.error("Error:", error);
//     });
// });
