<header>
  <h1>All Listings</h1>
</header>

<% if @listings.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Property</th>
        <th>Title</th>
        <th>Status</th>
        <th>Rent Amount</th>
        <th>Available Date</th>
        <th>Bedrooms/Bathrooms</th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.for_property.title %></td>
          <td><%= listing.title %></td>
          <td><%= listing.status %></td>
          <td><%= listing.rent_amount %></td>
          <td><%= listing.available_date %></td>
          <td><%= listing.bedroom.to_s + "/" + listing.full_bath.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @listings %>
<% else %>
  <h3>There are no listings yet.</h3>
<% end %>
<p><%= link_to "Back to Admin Dashboard", admin_root_path %></p>
