<header>
  <h1>All Expenses</h1>
</header>

<%# TODO: Show expenses for own properties only. Admin should be able to manage ALL expenses. %>
<% if @expenses.count > 0 %>
  <table class="table table-striped">
    <tr>
      <th>Property</th>
      <th>Expense</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>

    <% @expenses.each do |e| %>
      <tr>
        <td><%= e.for_property.title %></td>
        <td><%= e.title %></td>
        <td><%= e.payment_date %></td>
        <td><%= e.expense_amount %></td>
        <td><%= e.expense_category %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @expenses %>
<% else %>
  <h3>There are no expenses yet.</h3>
<% end %>

<p><%= link_to "Back to Admin Dashboard", admin_root_path %></p>
