<header>
  <h1>All Leases</h1>
</header>

<% if @leases.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Property</th>
        <th>Landlord</th>
        <th>Lease Start Date</th>
        <th>Lease End Date</th>
        <th>Tenant</th>
        <th>Rent Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @leases.each do |lease| %>
        <tr>
          <td><%= lease.for_property.title %></td>
          <td><%= lease.landlord_name %></td>
          <td><%= lease.lease_start_date %></td>
          <td><%= lease.lease_end_date %></td>
          <td><%= lease.tenant_name %></td>
          <td><%= lease.rent_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @leases %>
<% else %>
  <h3>There are no leases yet.</h3>
<% end %>
<p><%= link_to "Back to Admin Dashboard", admin_root_path %></p>
