<header>
  <h1><%= @user.username %>'s Managed Properties</h1>

  <% if user_signed_in? %>
  <ul class = "actions">
    <%= link_to "New Property", new_property_path, class: "new" if policy(Property).new? %>
  </ul>
  <% end %>
</header>

<% if @user.managed_properties.any? %>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.managed_properties.reverse.each do |p| %>
      <tr>
        <td><%= link_to p.title, property_path(p) %></td>
        <td><%= p.city %></td>
        <td><%= p.state %></td>
        <td><%= p.country %></td>
        <td><%= property_status(p) %></td>
        <td>
          <%= link_to "Delete", property_path(p), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(p).destroy? %>
          <%= link_to "Edit", edit_property_path(p), class: "edit" if policy(p).edit? %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3><%= @user.username %> has no properties yet.</h3>
<% end %>

<header>
  <h1><%= @user.username %>'s Lease</h1>

  <% if user_signed_in? %>
  <ul class = "actions">
    <%= link_to "New Lease", new_app_path, class: "new" if policy(Lease).new? %>
  </ul>
  <% end %>
</header>
<h3><%= @user.username %> has no lease yet.</h3>

<header>
  <h1><%= @user.username %>'s Rental Applications</h1>

  <% if user_signed_in? %>
  <ul class = "actions">
    <%= link_to "New Rental Application", new_app_path, class: "new" if policy(App).new? %>
  </ul>
  <% end %>
</header>
<h3><%= @user.username %> has no rental application yet.</h3>
