<%= simple_form_for(property) do |p| %>
  <%= p.input :title %>
  <%= p.input :description %>
  <%= p.input :address1 %>
  <%= p.input :address2 %>
  <%= p.input :city %>
  <%= p.input :state %>
  <%= p.input :postal_code %>
  <%= p.input :country, only: [ "US", "CA" ], selected: "US" %>
  <%= p.input :category_id, collection: Category.all, label: "Select Category", prompt: true %>
  <%= p.input :tag_list, label: "Tags", hint: "Please enter comma separated words only."  %>
  <%= p.input :property_type %>
  <%= p.input :unit_number %>
  <%= p.input :status, as: :select, collection: [["Inactive", false], ["Active", true]] %>
  <%= image_tag property.image, style: "width: 200px; display: block" if property.image.attached? %>
  <%= p.input :image, as: :file, label: "Upload Image for Property" %>
  <%= p.button :submit, class: "btn btn-primary"%> <%= link_to "Cancel", properties_path, class: "btn btn-secondary" %>
<% end %>
