<header>
  <h1>List of Properties</h1>
  <ul class = "actions">
    <%=link_to "New property", new_property_path, class: "new" if policy(Property).new? %>
  </ul>
</header>

<div class="row">
  <div class="col-3 sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <h3 class="discover">Discover</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item <%= "active" if current_page?("/properties")%>">
          <%= link_to "ALL PROPERTIES", properties_path, class: "nav-link active" %>
        </li>
      </ul>
      <ul class="nav flex-column nav-pills">
        <% @categories.each do |category| %>
          <li class="nav-item <%= "active" if current_page?("/categories/#{category.id}")%> text-uppercase">
            <%= link_to category.name, category_path(category), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-9">
    <div class="search">
      <div class="col-sm-12">
        <h5>Discover and apply to your favorite properties right here.</h5>
        <%= form_tag properties_path, class: "form-inline my-2 my-lg-0", method: :get do %>
        <div class="form-group form-group-lg">
          <div class="col-my-8">
            <%= text_field_tag :query, params[:query], placeholder: "Search properties...", autofocus: true, class: "form-control" %>
          </div>
          <div class="col-my-4">
            <%= submit_tag "Find", class: "btn btn-primary" %>
            <% if params[:query].present? %>
              <%= link_to "Clear", properties_path %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <% @properties.each do |property| %>
       <%= link_to property_path(property) do %>
        <div class="properties">
          <div class="row">
            <div class="col-sm-3">
              <% if property.image.attached? %>
                <%= image_tag property.image, style: "width: 200px; display: block" %>
              <% else %>
                <%= "Image missing" %>
              <% end %>
            </div>
            <div class="col-sm-9">
              <h3><%= property.title %></h3>
              <p><%= property.city %>&nbsp;&nbsp;<%= property.state %></p>
              <p><%= property.country %></p>
              <p><%= property_status(property) %></p>
              <p class="index-icons">
                <span><%= fa_icon "comments" %></span>
                <span><%= fa_icon "thumbs-o-up" %>&nbsp;<%= property.likes_total %></span>
                <span><%= fa_icon "thumbs-o-down" %>&nbsp;<%= property.dislikes_total %></span>
              </p>
            </div>
          </div>
        </div>
       <% end %>
    <% end %>
    <%= paginate @properties %>
  </div>
</div>
