<% provide(:title, @property.title) %>

<header>
  <h1 id="show_title"><%= @property.title %></h1>

  <ul class = "actions">
    <%= link_to "Edit", edit_property_path(@property), class: "edit" if policy(@property).edit? %>
    <%= link_to "Delete", property_path(@property), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(@property).destroy? %>
    <% if ( @property.landlord != current_user ) && !@listing.nil? %>
      <%= link_to "Lease Details", listing_path(@listing), class: "apply" %>
    <% end %>
  </ul>
</header>

<div class="row">
  <div class="col-sm-9">
    <p><%= @property.description %></p>
    <p><%= @property.address1 %></p>
    <p><%= @property.address2 %></p>
    <p><%= @property.city %></p>
    <p><%= @property.state %></p>
    <p><%= @property.postal_code %></p>
    <p><%= @property.country %></p>
    <p><%= @property.property_type %></p>
    <p><%= @property.unit_number %></p>
    <p><strong>Status: </strong><%= property_status(@property) %></p>
    <%= image_tag @property.image, style: "width: 300px; display: block" if @property.image.attached? %>

    <header>
      <h3>Comments</h3>
    </header>

    <div id="comments">
      <% if @property.comments.any? %>
        <%= render @property.comments %>
      <% else %>
        <p>There are no comments yet.</p>
      <% end %>
    </div>
    <div>
      <%# if user_signed_in? %>
        <%= render "comments/form", property: @property, comment: @comment if policy(@comment).create? %>
      <%# end %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="sidebar">
      <h4 class="landlord"><%= link_to @property.landlord.full_name, user_path(@property.landlord) %></h4>
    </div>
    <hr>
    <div class="sidebar">
      <h4 class="tags">Tags</h4>
      <% if @property.tags.any? %>
      <%= render @property.tags %>
      <% end %>
    </div>
    <hr>
    <div class="sidebar">
      <h4 class="likes">Likes</h4>
      <%= link_to property_likes_path(@property, like: "like"), method: :post do %>
      <span id="like"><%= @property.likes_total %></span>
      <% end %>&nbsp;&nbsp;&nbsp;
      <%= link_to property_likes_path(@property, like: "dislike"), method: :post do %>
      <span id="dislike"><%= @property.dislikes_total %></span>
      <% end %>
    </div>
    <hr>
  </div>

</div>
