<div class="jumbotron text-center">
  <h1>Welcome to Rent Studio</h1>
  <h4><%= link_to "Manage Your Property", new_property_path, class: "new" %></h4>
  <h4><%= link_to "Search Rental Properties", properties_path, class: "edit" %></h4>
</div>

<h2 class="text-center tag-line">
  Managing as well as finding rental properties can be very demanding. We help you make it easy with less stress.
</h2>
