<div class="row">
  <div class="col-sm-3 admin">
    <div class="admin-sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag avatar_url(current_user), width: 20, class: "rounded-circle"%>
        </div>
        <div class="pull-left info">
          <p><%= current_user.full_name %></p>
        </div>
      </div>
    </div>
    <ul class="admin-menu">
      <li class="text-uppercase text-center header">Main Navigation</li>

      <li><%= link_to admin_users_path do %>
          <%= fa_icon "users" %>
          <span>Users</span>
          <span class="badge badge-primary pull-right"><%= @users.count %></span>
          <% end %>
      </li>

      <li><%= link_to admin_categories_path do %>
          <%= fa_icon "th" %>
          <span>Categories</span>
          <span class="badge badge-info pull-right"><%= @categories.count %></span>
          <% end %>
      </li>

      <li><%= link_to "#" do %>
          <%= fa_icon "users" %>
          <span>Applicants</span>
          <span class="badge badge-danger pull-right">applicants</span>
          <% end %>
      </li>

      <li><%= link_to properties_path do %>
          <%= fa_icon "calendar" %>
          <span>Properties</span>
          <span class="badge badge-warning pull-right"><%= @properties.count %></span>
          <% end %>
      </li>

      <li><%= link_to admin_listings_path do %>
          <%= fa_icon "briefcase" %>
          <span>Listings</span>
          <span class="badge badge-primary pull-right"><%= @listings.count %></span>
          <% end %>
      </li>

      <li><%= link_to admin_leases_path do %>
          <%= fa_icon "pencil" %>
          <span>Leases</span>
          <span class="badge badge-success pull-right"><%= @leases.count %></span>
          <% end %>
      </li>

      <li><%= link_to "#" do %>
          <%= fa_icon "bookmark" %>
          <span>Tickets</span>
          <span class="badge badge-info pull-right"><%= @tickets.count %></span>
          <% end %>
      </li>

      <li><%= link_to admin_expenses_path do %>
          <%= fa_icon "dollar" %>
          <span>Expenses</span>
          <span class="badge badge-danger pull-right"><%= @expenses.count %></span>
          <% end %>
      </li>

      <li><%= link_to "#" do %>
          <%= fa_icon "tag" %>
          <span>Tags</span>
          <span class="badge badge-dark pull-right"><%= @tags.count %></span>
          <% end %>
      </li>

      <li><%= link_to "#" do %>
          <%= fa_icon "comments" %>
          <span>Comments</span>
          <span class="badge badge-success pull-right"><%= @comments.count %></span>
          <% end %>
      </li>

      <li><%= link_to "#" do %>
          <%= fa_icon "heart" %>
          <span>Likes</span>
          <span class="badge badge-secondary pull-right"><%= @likes.count %></span>
          <% end %>
      </li>
    </ul>
  </div>

  <div class="col-sm-9">
    <header>
      <h1>Dashboard <small>Control Panel</small></h1>
    </header>
    <h4>Welcome to Admin Dashboard</h4>
  </div>
</div>
