<%= simple_form_for(ticket) do |t| %>
  <%# t.input #{current_user.full_name} %>
  <%# t.input #{current_user.email} %>
  <%= t.input :subject %>

    <%= t.input :ticket_type, as: :select,
        collection: [['Renter Support', '0'],
        ['Landlord Support', '1'],
        ['Billing and Sales', '2'],
        ['Abuse', '3'],
        ['Technical Support', '4']], prompt: true %>
    <%= t.input :property_id, collection: User.find(current_user.id).managed_properties, label: "Select Property", prompt: true %>
    <%= t.input :priority, as: :select, collection: [['High', '0'], ['Medium', '1'], ['Low', '2']], prompt: true %>

  <%= t.input :message %>
  <%# TODO Add attachments here. %>
  <%= t.button :submit, class: "btn btn-primary"%> <%= link_to "Cancel", tickets_path, class: "btn btn-secondary"%>
<% end %>
