<header>
  <h1>My Tickets</h1>
  <ul class="actions">
    <%= link_to "New Ticket", new_ticket_path, class: "new" %>
  </ul>
</header>

<%# TODO: Show expenses for own properties only. Admin should be able to manage ALL expenses. %>
<%# if current_user.managed_properties.any? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Priority</th>
      <th>Subject</th>
      <th>Ticket Type</th>
      <th>Status</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |t| %>
      <tr>
        <td><%= link_to t.property.title, property_path(t.property) %></td>
        <td><%= t.priority %></td>
        <td><%= t.subject %></td>
        <td><%= t.ticket_type %></td>
        <td><%# t.status %></td>
        <td><%= t.updated_at %></td>
      </tr>
    <% end %>
  </tbody>


</table>
<%# else %>
<!--  <h3>You do not manange any properties, so cannot manage expenses yet.</h3> -->
<%# end %>
