<% provide(:title, @tag.name ) %>

<header>
  <h1>Properties tagged: <strong><em><%= @tag.name %></em></strong></h1>
</header>

<div class="row">
  <div class="col-3 float-right">
    <div class="nav flex-column nav-pills">
      <h3 class="discover">Discover</h3>
      <ul class="nav-item">
        <li class="<%= "active" if current_page?("/properties")%>"><%= link_to "ALL PROPERTIES", properties_path %> </li>
        <% @categories.each do |category| %>
          <li class="<%= "active" if current_page?("/categories/#{category.id}")%> text-uppercase">
            <%= link_to category.name.upcase, category_path(category) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-9 float-left">
    <h4>Discover and apply to your favorite properties right here</h4>

    <% @tag.properties.each do |property| %>
     <div class="col-9">
       <%= link_to property_path(property) do %>
        <div class="properties">
          <div class="row">
            <div class="col-sm-3">
              <%= "Image here" %>
            </div>
            <div class="col-sm-9">
              <h3><%= property.title %></h3>
              <p><%= property.city %></p>
              <p><%= property.state %></p>
              <p><%= property.country %></p>
              <p><%= property_status(property) %></p>
              <p class="index-icons">
                <span><%= fa_icon "comments" %></span>
                <span><%= fa_icon "thumbs-o-up" %></span>
                <span><%= fa_icon "thumbs-o-down" %></span>
              </p>
            </div>
          </div>
        </div>
       <% end %>
     </div>
    <% end %>
    <%# paginate @tag.properties TODO pagination %>
  </div>
</div>
