<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= simple_form_for([:admin, category]) do |c| %>
      <%= c.input :name %>
      <%= c.input :summary %>
      <%= c.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
