 <header>
   <h1>All Categories</h1>

   <% admins_only do %>
    <ul class="actions">
      <li><%= link_to "New Category", new_admin_category_path, class: "new" %></li>
    </ul>
   <% end %>
 </header>

 <table class="table table-striped">
   <thead>
     <tr>
       <th>Name</th>
       <th>Summary</th>
       <th>Created</th>
       <th>Properties</th>
       <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
     <% @categories.each do |category| %>
       <tr>
         <td><%= category.name %></td>
         <td><%= category.summary %></td>
         <td><%= time_format(category.created_at) %></td>
         <td><%= link_to category.properties.count, category_path(category) %></td>
         <td>
           <%= link_to "Delete", admin_category_path(category), method: :delete, class: "delete", data: {confirm: "Are you sure?"} %>
           <%= link_to 'Edit', edit_admin_category_path(category), class: "edit" %>
         </td>
       </tr>
     <% end %>
   </tbody>
 </table>
<%= paginate @categories %>
 <p><%= link_to "Back to Admin Dashboard", admin_root_path %></p>
