<!-- Nav tabs -->
<p>
<ul class="nav nav-tabs" id="listingTab" role="tablist">
  <li class="nav-item" role="presentation"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#tabpane1">Personal Information</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="info-tab" data-toggle="tab" href="#tabpane2">Addresses</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="rooms-tab" data-toggle="tab" href="#tabpane3">Income & Employment</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="lease-tab" data-toggle="tab" href="#tabpane4">Certification</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link" id="showing-tab" data-toggle="tab" href="#tabpane5">Attachments</a></li>
</ul>

<!-- Tab panes -->
<%= simple_form_for(app) do |f| %>

<div class="tab-content" id="listingTabContent">
  <div class="tab-pane fade show active" id="tabpane1" role="tabpanel">
    <%= render "tabpane1", f: f %>
  </div>
  <div class="tab-pane fade" id="tabpane2" role="tabpanel">
    <%= render "tabpane2", f: f %>
  </div>
  <div class="tab-pane fade" id="tabpane3" role="tabpanel">
    <%= render "tabpane3", f: f %>
  </div>
  <div class="tab-pane fade" id="tabpane4" role="tabpanel">
    <%= render "tabpane4", f: f %>
  </div>
  <div class="tab-pane fade" id="tabpane5" role="tabpanel">
    <%= render "tabpane5", f: f %>
  </div>
</div>

<%= f.button :submit, class: "btn btn-primary"%> <%= link_to "Cancel", listings_path, class: "btn btn-secondary" %>
<% end %>
