<%# Personal Information %>
<%= f.input :move_in_date %>
<%= f.input :lease_term_requested %>
<%= f.input :emergency_contact_name %>
<%= f.input :emergency_contact_phone %>
<%= f.input :emergency_contact_email %>
<%= f.input :emergency_contact_address1 %>
<%= f.input :emergency_contact_address2 %>
<%= f.input :emergency_contact_city %>
<%= f.input :emergency_contact_state %>
<%= f.input :emergency_contact_country %>
