<%# Certification %>
<%= f.input :water_bed_flag %>
<%= f.input :smoker_flag %>
<%= f.input :renters_insurance_flag %>
<%= f.input :military_flag %>
<%= f.input :one_year_military_stay_flag %>
<%= f.input :eviction_flag %>
<%= f.input :asked_to_move_out_flag %>
<%= f.input :ever_breached_lease_flag %>
<%= f.input :bankruptcy_flag %>
<%= f.input :foreclosure_flag %>
<%= f.input :credit_problem_flag %>
<%= f.input :crime_conviction_flag %>
<%= f.input :sex_offender_flag %>
<%= f.input :credit_check_authorization_flag %>
<%= f.input :additional_information %>
