<% provide(:title, @apps.title) %>

<header>
  <h1>Rental Application</h1>
  <ul>
    <%= link_to "Edit", edit_app_path(@app), class: "edit" if policy(@app).edit? %>
    <%= link_to "Delete", listing_path(@app), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(@app).destroy? %>
  </ul>
</header>

<div class="row">
  <h3>Show page for Rental application</h3>
</div>
