<%= simple_form_for(lease) do |p| %>
  <%= p.association :for_property, collection: User.find(current_user.id).managed_properties.order(:title), label: "Select Property", prompt: true %>
  <%= p.input :landlord_name %>
  <%= p.input :tenant_name %>
  <%= p.input :tenant_email %>
  <%= p.input :lease_start_date, order: [:day, :month, :year] %>
  <%= p.input :lease_end_date, order: [:day, :month, :year] %>
  <%= p.input :auto_renewal_flag %>
  <%= p.input :auto_renewal_days_before, input_html: { min: 0, value: 30 } %>
  <%= p.input :rent_amount, as: :decimal, input_html: { min: 0 } %>
  <%= p.input :rental_concession %>
  <%= p.input :amenities %>
  <%= p.input :amenity_fees, input_html: { min: 0, value: 0 } %>
  <%= p.input :application_fee_per_adult, input_html: { min: 0 } %>
  <%= p.input :rent_due_date, order: [:day, :month, :year] %>
  <%= p.input :prorated_rent, input_html: { min: 0, value: 0 } %>
  <%= p.input :prorated_rent_due_date, order: [:day, :month, :year] %>
  <%= p.input :rent_allowed_in_installments %>
  <%= p.input :late_charge_due_date, order: [:day, :month, :year] %>
  <%= p.input :late_charge_one_time_fee, input_html: { min: 0 } %>
  <%= p.input :late_charge_per_day_fee, input_html: { min: 0 } %>
  <%= p.input :pet_deposit, input_html: { min: 0, value: 0 } %>
  <%= p.input :pet_fee, input_html: { min: 0, value: 0 } %>
  <%= p.input :pet_rent, input_html: { min: 0, value: 0 } %>
  <%= p.input :security_deposit, input_html: { min: 0 } %>
  <%= p.input :emergency_contact_name %>
  <%= p.input :emergency_contact_phone %>
  <%= p.input :emergency_contact_email %>
  <%= p.input :emergency_contact_address1 %>
  <%= p.input :emergency_contact_address2 %>
  <%= p.input :emergency_contact_city %>
  <%= p.input :emergency_contact_state %>
  <%= p.input :emergency_contact_country %>
  <%= p.input :additional_terms_and_conditions %>
  <%= p.button :submit, class: "btn btn-primary"%> <%= link_to "Cancel", leases_path, class: "btn btn-secondary" %>
<% end %>
