<header>
  <h1>My Leases</h1>
  <ul class="actions">
    <%= link_to "New lease", new_lease_path, class: "new" if policy(Lease).new? %>
  </ul>
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Tenant</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Rent Amt</th>
      <th>Rent Due Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @leases.each do |lease| %>
    <tr>
      <td><%= link_to lease.for_property.title, property_path(lease.for_property) %></td>
      <td><%= lease.tenant_name %></td>
      <td><%= lease.lease_start_date  %></td>
      <td><%= lease.lease_end_date  %></td>
      <td><%= lease.rent_amount %></td>
      <td><%= lease.rent_due_date %></td>
      <td><%= link_to "Delete", lease_path(lease), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(lease).destroy? %></td>
      <td><%= link_to 'Edit', edit_lease_path(lease), class: "edit" if policy(lease).edit? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
