<% provide(:title, @lease.for_property.title) %>

<header>
  <h3>Lease details for <%= @lease.for_property.title %> </h3>

  <ul class="actions">
    <%= link_to "Edit", edit_lease_path(@lease), class: "edit" if policy(@lease).edit? %>
    <%= link_to "Delete", lease_path(@lease), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(@lease).destroy? %>
    <% if @lease.for_property.landlord != current_user %>
      <%# link_to "Accept lease to rent", new_payment_path, class: "payment" %>
    <% end %>
  </ul>
</header>

<div>
  <div class="row">
    <div class="col-sm-4">Landlord Name: <%= @lease.landlord_name %></div>
    <div class="col-sm-8">Tenant Name(s): <%= @lease.tenant_name %></div>
  </div>
  <div class="row">
    <div class="col col-sm-4">Lease Start Date: <%= @lease.lease_start_date %></div>
    <div class="col col-sm-8">End Date: <%= @lease.lease_end_date %></div>
  </div>
  <div class="row">
      <div class="col-sm-12"><strong><u>Financial Terms:</u></strong></div>
  </div>
  <div class="row">
    <div class="col-sm-4">Rent Amount: <%= @lease.rent_amount %></div>
    <div class="col-sm-4">Rent Due: <%= @lease.rent_due_date %></div>
    <div class="col-sm-4">Rent allowed in installments: <%= @lease.rent_allowed_in_installments %></div>
  </div>
  <div class="row">
    <div class="col-sm-4">Security Deposit: <%= @lease.security_deposit %></div>
    <div class="col-sm-4">Prorated rent: <%= @lease.prorated_rent %></div>
    <div class="col-sm-4">Due date: <%= @lease.prorated_rent_due_date %></div>
  </div>
  <div class="row">
    <div class="col-sm-4">Late charge due on: <%= @lease.late_charge_due_date %></div>
    <div class="col-sm-4">Late charge fee: <%= @lease.late_charge_one_time_fee %></div>
    <div class="col-sm-4">Additional per day: <%= @lease.late_charge_per_day_fee %></div>
  </div>

  <div class="row">
    <div class="col-sm-4">Pet Deposit: (refundable) <%= @lease.pet_deposit %></div>
    <div class="col-sm-4">Pet Fee: (Non-refundable) <%= @lease.pet_fee %></div>
    <div class="col-sm-4">Additional Pet Rent: <%= @lease.pet_rent %></div>
  </div>

  <div class="row">
    <div class="col-sm-4">Auto Renewal: <%= @lease.auto_renewal_flag %>
    <%= @lease.auto_renewal_days_before %> days before lease ends.</div>
    <div class="col-sm-8">Rental Consession: <%= @lease.rental_concession %></div>
  </div>

  <div class="row">
    <div class="col-sm-4">Amenities: <%= @lease.amenities %></div>
    <div class="col-sm-4">Amenity Fees: <%= @lease.amenity_fees %></div>
    <div class="col-sm-4">Application Fee per adult: <%= @lease.application_fee_per_adult %></div>
  </div>

    <div class="row">
        <div class="col-sm-12"><strong><u>Emergency Contact</u></strong></div>
    </div>

    <div class="row">
      <div class="col-sm-4">Name: <%= @lease.emergency_contact_name %></div>
      <div class="col-sm-4">Phone: <%= @lease.emergency_contact_phone %></div>
      <div class="col-sm-4">Email: <%= @lease.emergency_contact_email %></div>
    </div>

    <div>
      <p>Address:
        <%= @lease.emergency_contact_address1 %>
        <%= @lease.emergency_contact_address2 %>
        <%= @lease.emergency_contact_city %>
        <%= @lease.emergency_contact_state %>
        <%= @lease.emergency_contact_country %>
      </p>
    </div>
    <strong>Additional Terms & Conditions: </strong><%= @lease.additional_terms_and_conditions %>
</div>

<div>
  <p></p>
  <%# content_tag class: "checkbox", "I accept" %>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" <%= 'disabled' if not @lease.tenant_id.nil? %> >
    <label class="form-check-label" for="defaultCheck1">
      I agree and accept the terms of this lease.
    </label>
  </div>

  <%= button_to 'Pay now', checkout_create_path, class: "btn btn-success", disabled: true, method: :post, id: 'checkout-button', params: { id: @lease.id}, remote: true %>
</div>

<header>
  <h3>Receipts</h3>
</header>

<div id="receipts">
  <% if @lease.receipts.any? %>
    <%= render @lease.receipts %>
  <% else %>
    <p>There are no receipts yet.</p>
  <% end %>
</div>

<!-- <form class="" action="/payment" method="post">
  <div class="">
    <%# link_to "Accept & Pay", new_lease_payment_path(@lease), class: "edit" %>
  </div>
</form> -->
