<% provide(:title, @category.name ) %>

<header>
  <h1 class="col-12 text-uppercase"><%= @category.name %> <small>type properties</small></h1>

  <ul class="actions">
    <% admins_only do %>
      <li><%= link_to "Edit", edit_admin_category_path(@category), class: "edit" %></li>
      <li><%= link_to "Delete", admin_category_path(@category), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %></li>
    <% end %>
  </ul>
</header>

<div class="row">
  <div class="col-3 sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <h3 class="discover">Discover</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item <%= "active" if current_page?("/properties")%>">
          <%= link_to "ALL PROPERTIES", properties_path, class: "nav-link" %> <%= "active" if current_page?("/properties")%>
        </li>
      </ul>
      <ul class="nav flex-column nav-pills">
        <% @categories.each do |category| %>
          <li class="nav-item <%= "active" if current_page?("/categories/#{category.id}")%> text-uppercase">
            <%= link_to category.name, category_path(category), class: "nav-link #{ "active" if current_page?("/categories/#{category.slug}")}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-9">
    <h4>Discover and apply to your favorite properties right here</h4>

    <% @category_properties.each do |property| %>
       <%= link_to property_path(property) do %>
        <div class="properties">
          <div class="row">
            <div class="col-sm-3">
              <% if property.image.attached? %>
                <%= image_tag property.image, style: "width: 200px; display: block" %>
              <% else %>
                <%= "Image missing" %>
              <% end %>
            </div>
            <div class="col-sm-9">
              <h3><%= property.title %></h3>
              <p><%= property.city %></p>
              <p><%= property.state %></p>
              <p><%= property.country %></p>
              <p><%= property_status(property) %></p>
              <p class="index-icons">
                <span><%= fa_icon "comments" %></span>
                <span><%= fa_icon "thumbs-o-up" %></span>
                <span><%= fa_icon "thumbs-o-down" %></span>
              </p>
            </div>
          </div>
        </div>
       <% end %>
    <% end %>
    <%= paginate @category_properties %>
  </div>
</div>
