<%= simple_form_for([:admin, user]) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :organization_name %>
  <%= f.input :email %>
  <%= f.input :admin %>
  <%= f.association :roles, as: :check_boxes %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to "Back", admin_users_path, class: "btn btn-secondary" %>
<% end %>
