<header>
  <h1>All Users</h1>
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Avatar</th>
      <th>Username</th>
      <th>Email</th>
      <th>Joined</th>
      <th>Current Sign in IP</th>
      <th>Properties</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= "Avatar" %></td>
        <td><%= link_to user.username, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= time_format(user.created_at) %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= link_to user.managed_properties.count, user_path(user) %></td>
        <td>
          <%= link_to "Delete", admin_user_path(user), method: :delete, class: "delete", data: {confirm: "Are you sure?"} %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: "edit" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
<p><%= link_to "Back to Admin Dashboard", admin_root_path %></p>
