<header>
  <h1>User Details</h1>
</header>

    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>Username: <%= @user.username %></p>
    <p>Organization Name: <%= @user.organization_name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Admin: <%= @user.admin %></p>
    <p>Slug: <%= @user.slug %></p>
    <p>Sign-in-count: <%= @user.sign_in_count %></p>
    <p>Current-sign-in-at: <%= @user.current_sign_in_at %></p>
    <p>Last-sign-in-at: <%= @user.last_sign_in_at %></p>
    <p>Current-sign-in-IP: <%= @user.current_sign_in_ip %></p>
    <p>Last-sign-in-IP: <%= @user.last_sign_in_ip %></p>
    <p>Failed Attempts: <%= @user.failed_attempts %></p>
    <p>Locked-at: <%= @user.locked_at %></p>
    <p>Created-at: <%= @user.created_at %></p>
    <p>Updated-at: <%= @user.updated_at %></p>

<%= link_to "Back", admin_users_path, class: "btn btn-secondary" %>
