<%= simple_form_for(expense) do |e| %>
  <%= e.input :title %>
  <%= e.input :payment_date, as: :date, order: [:day, :month, :year]  %>
  <%= e.input :expense_amount, as: :decimal, input_html: { min: 0, step: 0.01 } %>
  <%= e.input :expense_category, as: :select,
      collection: [['Advertising', '0'],
      ['Auto & Travel', '1'],
      ['Cleaning & Maintenance', '2'],
      ['Commision', '3'],
      ['Depreciation', '4'],
      ['Insurance', '5'],
      ['Legal & Professional fees', '6'],
      ['Management fees', '7'],
      ['Mortgage interest', '8'],
      ['Other interest', '9'],
      ['Repairs', '10'],
      ['Supplies', '11'],
      ['Taxes', '12'],
      ['Utilities', '13'],
      ['Other', '14']] %>
  <%= e.input :property_id, collection: User.find(current_user.id).managed_properties, label: "Select Property", prompt: true %>
  <%= e.input :description %>

  <div class="field">
    <%= e.label :receipts %>
    <%= e.file_field :receipts, multiple: true %>
  </div>
  <%# <%= e.input :receipt, as: :file, label: "Upload Receipts", multiple: true %>

  <%= e.button :submit, class: "btn btn-primary"%> <%= link_to "Cancel", expenses_path, class: "btn btn-secondary"%>
<% end %>
