<header>
  <h1>My Expenses</h1>
  <ul class="actions">
    <%= link_to "New Expense", new_expense_path, class: "new" if policy(Expense).new? %>
  </ul>
</header>

<%# TODO: Show expenses for own properties only. Admin should be able to manage ALL expenses. %>
<%# if current_user.managed_properties.any? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Title</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |e| %>
      <tr>
        <td><%= link_to e.for_property.title, property_path(e.for_property) %></td>
        <td><%= link_to e.title, expense_path(e) %></td>
        <td><%= e.payment_date %></td>
        <td><%= e.expense_amount %></td>
        <td><%= e.expense_category %></td>
        <td><%= link_to "Delete", expense_path(e), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(e).destroy? %></td>
        <td><%= link_to "Edit", edit_expense_path(e), class: "edit" if policy(e).edit? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# else %>
<!--  <h3>You do not manange any properties, so cannot manage expenses yet.</h3> -->
<%# end %>
