<% provide(:title, @expense.title) %>

<header>
  <h1><%= @expense.title %></h1>
</header>

<p>
<%= link_to "Edit", edit_expense_path(@expense), class: "edit" if policy(@expense).edit? %>
<%= link_to "Delete", expense_path(@expense), method: :delete, class: "delete", data: {confirm: "Are you sure?"} if policy(@expense).destroy? %>
<%= link_to "Cancel", expenses_path, class: "btn btn-light"  %>
</p>

<div class="">
  <p><%= @expense.title %></p>
  <p><%= @expense.payment_date %></p>
  <p><%= @expense.expense_amount %></p>
  <p><%= @expense.expense_category %></p>
  <p><%= @expense.description %></p>
  <p><%= @expense.for_property.title %></p>
</div>

<p>
  <strong>Uploads:</strong> <br/>
  <% if @expense.receipts.attached? %>
    <% @expense.receipts.each do |receipt| %>
      <%= link_to receipt.filename, receipt, target: '_blank' %> <br/>
    <% end %>
  <% else %>
    <p>no receipts</p>
  <% end %>
</p>
