<h3>Receipt details</h3>
<p></p>
<p>For property at <%= @receipt.for_lease.for_property.title %></p>
<p>Receipt Date:<%= @receipt.created_at %></p>
<p>Receipt Number:<%= @receipt.receipt_number %></p>
<p>Amount:<%= @receipt.amount %></p>
<p>Currency: <%= @receipt.currency_code %></p>
<p></p>

<%= link_to "Printable Receipt (PDF)", lease_receipt_path(@lease, @receipt, format: "pdf") %>
