<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <%= link_to "RentStudio™", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class= <%= "active" if current_page?("/")%>  >
        <a class="nav-link" href=<%= root_path %>>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class= <%= "active" if current_page?("/properties")%> >
        <a class="nav-link" href="<%= properties_path %>">Properties</a>
      </li>

      <!-- <% if user_signed_in? %>
        <li class= <%= "active" if current_page?("/listings")%> >
          <a class="nav-link" href="<%= listings_path %>">Listings</a>
        </li>
        <li class= <%= "active" if current_page?("/leases")%> >
          <a class="nav-link" href="<%= leases_path %>">Leases</a>
        </li>
        <li class= <%= "active" if current_page?("/expenses")%> >
          <a class="nav-link" href="<%= expenses_path %>">Expenses</a>
        </li>
        <li class= <%= "active" if current_page?("/tickets")%> >
          <a class="nav-link" href="<%= tickets_path %>">Maintenance Tickets</a>
        </li>
      <% end %> -->

      <% if user_signed_in? && current_user.managed_properties.count > 0 %> <!-- show this menu only for lanlords -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= listings_path %>">Listings</a>
          <a class="dropdown-item" href="<%= leases_path %>">Leases</a>
          <a class="dropdown-item" href="<%= expenses_path %>">Expenses</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= tickets_path %>">Maintenance Tickets</a>
        </div>
      </li>
      <% end %>

      <% admins_only do %>
      <li class= <%= "active" if current_page?("/admin")%> >
        <a class="nav-link" href="<%= admin_root_path %>">Admin Dashboard</a>
      </li>
      <% end %>

      <% unless user_signed_in?  %>
        <li class= <%= "active" if current_page?("/users/sign_up")%> >
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class= <%= "active" if current_page?("/users/sign_in")%>>
          <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

<!---
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
--->
    <%= form_tag properties_path, class: "form-inline my-2 my-lg-0", method: :get do %>
      <div class="form-group">
          <%= text_field_tag :query, params[:query], placeholder: "Search properties...", autofocus: true, class: "form-control mr-sm-2" %>
      </div>
        <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>

    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class= <%= "active" if current_page?("/users/edit")%> >
        <%= link_to edit_user_registration_path, class: "nav-link" do %>
        <%= image_tag avatar_url(current_user), width: 25, class: "rounded-circle" %> <%= current_user.username %>
        <% end %>
      </li>
      <li class= <%= "active" if current_page?("/users/#{current_user.slug}") %> >
        <%= link_to "My properties", user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% end %>
    </ul>

  </div>
</nav>
