<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header"%>

    <div class="container">
      <!--
      <p class="alert alert-primary" role="alert"><%= notice %></p>
      <p class="alert alert-secondary" role="alert"><%= alert %></p>
      <p class="alert alert-success" role="alert"><%= alert %></p>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
      <p class="alert alert-warning" role="alert"><%= alert %></p>
      <p class="alert alert-info" role="alert"><%= alert %></p>
      -->
      <% flash.each do |type, message|%>
        <div class="alert alert-<%= type %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
      <% end %>

      <!---
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
       --->

      <%= yield %>
    </div>

  </body>
</html>
